*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
  background-color: #53ACF3;  
}
.final-render{
    background-color: #FFFFFF;  
     border-radius: 20px;
    width: 700px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 10px;
    box-shadow: -3px 0px 24px 6px rgba(83,172,243,0.65);
}
::placeholder{
    padding: 5px;
    color: black;
}
.nav-container{
    color: #53ACF3;
}
.nav-container h1{
    font-size: 40px;
    text-align: center;
    padding: 5px;
    margin: 0px;
}
.personal-container,.education-container,.experience-container{
    border-bottom:1px solid #53ACF3;
 
}

.form-format{
    padding-left: 5px;
}
.form-format input{
    background-color: #E8EEF8;
    border: none;
    outline: none;
    width:320px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 2px;
    margin-left: 11px;
    padding: 10px;
}
.form-format input:focus{
    border-bottom: solid 2px #53ACF3;
}
.personal-form{
    display: grid;
    grid-template-columns: 350px 350px;
   
}
.education-form{
    display: grid;
    grid-template-columns: 350px 350px;
}
.qualification{
    grid-column: 1/-1;
}
.qualification input{
    width:670px;
}
.experience-form{
    display: grid;
    grid-template-columns: 350px 350px;
}
.activities textarea{
    background-color: #E8EEF8;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    width: 670px;
    height: 60px;
    position: relative;
    top:5px;
    left: 10px;
    margin-bottom: 40px;
}
label{
color: #53ACF3;
font-size: 12px;
padding-left: 20px;
}
 
.section{
    font-weight: 600;
    color: #53ACF3;
    margin: 0px;
    margin-left: 10px;
}
.add-btn{
    width:80px;
    height: 30px;
    color: #FFFFFF;
    background-color: #53ACF3;
    border-radius: 3px;
    border: none;
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 9px;
    transition: all .3s ease;
 
}
.add-btn:hover{
transform: translateY(2px);
 transition: 200ms;
}
.delete-btn:hover{
    transform: translateY(2px);
    transition: 200ms;
    }
.finish-btn:hover{
    transform: translateY(2px);
    transition: 200ms;
    content: 'Download';
}

.delete-btn{
    width:80px;
    height: 30px;
    color: #FFFFFF;
    background-color: #53ACF3;
    border-radius: 3px;
    border: none; 
    position: relative;
    right: 240px;
    top: 2.5px;
    transition: all .3s ease;
}
.finish-btn{
    margin-left: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
    width:80px;
    height: 30px;
    color: #FFFFFF;
    background-color: #53ACF3;
    border-radius: 3px;
    border: none; 
    transition: all .3s ease;
    
}
.buttons{
    position: relative;
    top:80px;
    right: 342px;
    height: 44px;
}
.buttons button{
    width:80px;
    height: 30px;
    color: #FFFFFF;
    background-color: #53ACF3;
    border-radius: 3px;
    border: none;
    margin-left: 10px;
    margin-top: -6px;
    transition: all .3s ease;
}
#work-end{
    width:200px;
}
.time-section{
    display: flex;
}
.ongoing{
position: relative;
left: 120px;

}
#button-3{
position: relative;
right: 45px;
margin-top: -9px;

}

.toggle-button-cover {
    display: table-cell;
    position: relative;
    width: 200px;
    height: 140px;
    box-sizing: border-box;
  }
  
  .button-cover {
    height: 100px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 10px 20px -8px #c5d6d6;
    border-radius: 4px;
  }
  
  .button-cover:before {
    counter-increment: button-counter;
    content: counter(button-counter);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
  }
  
  .button-cover,
  .knobs,
  .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .button {
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
  }
  
  .checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }
  
  .knobs {
    z-index: 2;
  }
  
  .layer {
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
  }
  
  .button.r,
  .button.r .layer {
    border-radius: 100px;
  }
  
  #button-3 .knobs:before {
    content: "YES";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 10px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: #03a9f4;
    border-radius: 50%;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
  }
  
  #button-3 .checkbox:active + .knobs:before {
    width: 46px;
    border-radius: 100px;
  }
  
  #button-3 .checkbox:checked:active + .knobs:before {
    margin-left: -26px;
  }
  
  #button-3 .checkbox:checked + .knobs:before {
    content: "NO";
    left: 42px;
    background-color: #f44336;
  }
  
  #button-3 .checkbox:checked ~ .layer {
    background-color: #fcebeb;
  }
  .edit-btn{
    width:80px;
    height: 30px;
    color: #FFFFFF;
    background-color: #53ACF3;
    border-radius: 3px;
    border: none;
    margin-left: 200px;
    margin-top: 2px;
    margin-bottom: 9px;
    transition: all .3s ease;
  }
  /* FORMATTING OF SUBMITTED CONTENT*/
  .personal-submit{
    border:1px solid red;
    padding: 5px;
    margin: 0px;
    height: 110px;
    font-size: 16px;
  }
  .names-submit{
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    margin: 0px;
  }
  .details-submit{
    margin: 0px;
    padding: 2px;
    text-align: center;
  }
  .personalEdit-submit{
    width:60px;
    height: 30px;
    color: #FFFFFF;
    background-color: #53ACF3;
    border-radius: 3px;
    border: none;
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 9px;
    transition: all .3s ease;
    margin-left: 600px;
    position: relative;
    bottom:90px;
  }
  .personalEdit-submit:hover{
    transform: translateY(2px);
     transition: 200ms;
    }
    .parentEducation-submit{
      border: 1px solid red;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      height: 145px;
      border-bottom: 1px solid black;
      font-weight: 450;
    }
    .ed-dates-submit{
      font-size: 14px;
      border: 1px solid rgb(65, 58, 58);
    }
    .ed-school-submit{
      font-size: 15px;
      border: 1px solid rgb(65, 58, 58);
     line-height: 10px;
    }
    .eduEdit-submit{
      width:60px;
      height: 30px;
      color: #FFFFFF;
      background-color: #53ACF3;
      border-radius: 3px;
      border: none;
      margin-left: 10px;
      margin-top: 2px;
      margin-bottom: 9px;
      transition: all .3s ease;
      position: relative;
      left: 600px;
      bottom: 35px;
      
    }
    .doubleBtn-edit{ 
   height: 40px;
   
    }
    .doubleBtn-edit button{
      width:75px;
      height: 30px;
      color: #FFFFFF;
      background-color: #D72638;
      border-radius: 3px;
      border: none;
      margin-left: 10px;
      margin-top: 2px;
      margin-bottom: 9px;
      transition: all .3s ease;
    }
    .parentExp-edit{
      border-bottom: 1px solid #53ACF3;
    }
    .parentExp-submit{
      border: 1px solid red;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      font-size: 14px;
      font-weight: 450;
      align-items: center;
      margin: 0px;
      border-bottom: 1px solid black;
    }
    .exp-dates{
      border: 1px solid pink;
      display: flex;
      
    }
    .exp-dates p{
      margin: 2px;
    }
    .exp-details{
      border:1px solid green;
    }
    .expBtn-edit{
      width:60px;
      height: 30px;
      color: #FFFFFF;
      background-color: #53ACF3;
      border-radius: 3px;
      border: none;
      margin-left: 10px;
      margin-top: 2px;
      margin-bottom: 9px;
      transition: all .3s ease;
      position: relative;
      left: 600px;
      bottom: 35px;
    }